@import '../ressources/commun.scss';
.contenu{
    margin-top: 3rem;
    text-align: center;
    font-weight: bold;
}
.conteneur{
    font-family: 'Croissant One';
    @include conteneur ;
    background-color: $couleur-menu2-bg ; 
    @media (max-width:581px) {
      padding: 0 0 0 0;
      font-size: 0.7rem;
      }
}
.titre {
    background-color: $couleur-menu2-bg;
    width: 100%;
    height: auto;
    padding-top: 4rem;
      & .carte-titre{
        font-family: 'Croissant One';
        background: linear-gradient(
          to right,
          $couleur-menu2-gradient-start 0%,
          $couleur-menu2-gradient-end 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  }
.conteneur-table1{
    font-family: 'Libre Baskerville';
    padding-left: 4rem;
    padding-right: 4rem;
    color: $couleur-menu2-text;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    justify-content: space-around;
    @media (max-width:581px) {
      padding: 0 0 0 0;
     }
}
.conteneur-table2{
    font-family: 'Libre Baskerville';
    padding-left: 4rem;
    padding-right: 4rem;
    color: $couleur-menu2-2-text;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    justify-content: space-around;
    @media (max-width:581px) {
        padding: 0 0 0 0;
     }
}
.conteneur-table3{
    font-family: 'Libre Baskerville';
    color: $couleur-menu2-3-text;
    padding-left: 6rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.8em;
    justify-content: space-around;
    @media (max-width:581px) {
      padding: 0 0 0 0;
     }
}

.ligne:nth-child(1),.ligne:nth-child(3),.ligne:nth-child(5){
    @include ligne;
}
.ligne2:nth-child(1),.ligne2:nth-child(3),.ligne2:nth-child(5){
    @include ligne;
}
.ligne3{
  margin-bottom: 2rem;
}
.table-caption{
    font-family: 'Libre Baskerville';
    @include table-caption;
}
.element21{
    padding-left: 1rem;
 padding-right: 1rem;
 color: $couleur-menu2-text;
  @media (max-width:581px) {
  padding: 0 0 0 0; 
}}
.element22{
    padding-left: 3rem;
    padding-right: 3rem;
    color: $couleur-menu2-2-text;
    @media (max-width:581px) {
      padding: 0 0 0 0;
      }
}
.element23{
    padding-left: 2rem;
    padding-right: 2rem;
    color: $couleur-menu2-3-text;
    @media (max-width:581px) {
      padding: 0 0 0 0;
      }
}
.p1,.p2,.p3{
   position: relative;
}
.p1::after{
  content: '';
  transform-origin: 0 0; 
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .1em; 
  background: $couleur-menu2-text;
  opacity: 0.8;
  transition: transform .3s;
}
.p2::after{
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .1em; 
    background: $couleur-menu2-2-text;
    opacity: 0.8;
    transition: transform .3s;
  }
  .p3::after{
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .1em; 
    background: $couleur-menu2-3-text;
    opacity: 0.8;
    transition: transform .3s;
  }
.p1:hover::after,.p2:hover::after,.p3:hover::after{
    transform: scaleX(1.1);
}
