@import '../ressources/commun.scss';

.conteneur{
    width: 100%;
    margin-top: 2rem;
}
.corpdepage{
    margin-top: 2rem;
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width:581px) {
      flex-direction: column;
      align-content: center;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
  }
}
.conteneur-carte{
  border-radius: 2%;
  box-shadow: 0 0 0.8rem 0 rgba(152, 153, 151, 0.6);
  overflow: hidden;
  width: 30%;
  height: 50vmin;
  max-width: 30%;
  margin-top: 2rem;
  margin-right: 2em;
  margin-left: 2em; 
  @media (max-width:581px) {
    width: 80%;
    max-width: 80%;
    margin: 1rem 1rem;
}
}
  .carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 4em;
    transition: transform 0.4s ease-in-out;
    @media (max-width:581px) {
        margin: 0 0 0 0;
        padding-top: 2rem;
    }
   }
 .carte:hover{
      transform: scale(1.2);
      opacity: 0.6;
    }   
  a{
      text-decoration: none;
    }   
  .image_note{
    width: 3rem;
    height: 3.4rem ;
    @media (max-width: 581px)
    {
      width: 1rem;
      height: 1.2rem;
    }
  }
  .note{
    background-color: $couleur-menu1-bg;
    & a {

      color: $couleur-menu1-text;
      
      & h2{
        font-family: 'Devonshire';
        padding-bottom: 1rem;
      }
      & p{
        font-family: 'Tillana';
        text-transform: uppercase;
      }
    }
  }
  .chic{
    background-color: $couleur-menu2-bg;
    & a {
      color: $couleur-menu2-text;
      & h2{
        font-family: 'Croissant One';
        background: linear-gradient(
          to right,
          $couleur-menu2-gradient-start 0%,
          $couleur-menu2-gradient-end 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 1rem;
      }
      & p{
        font-family: 'Libre Baskerville';
      }
    }
  }
  .delice{
    background-color: $couleur-menu3-bg;
    & a {
      color: $couleur-menu1-text;
      & h2{
        font-family: 'Parisienne';
        color: $couleur-menu3-1-text;
        background: linear-gradient(
          to right,
          $couleur-menu3-gradient-start 0%,
          $couleur-menu3-gradient-end 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 1rem;
      }
      & p{
        font-family: 'Tillana';
        color: $couleur-menu3-1-text;
      }
    }
  }
  .palette{
    background-color: $couleur-menu3-bg;
    & a {
      color: $couleur-menu4-text;
      & h2{
        font-family: 'Kaushan Script';
        color: $couleur-menu4-text;
        background: linear-gradient(
          to right,
          $couleur-menu4-gradient-start 0%,
          $couleur-menu4-gradient-end 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 1rem;
      }
      & p{
        font-family: 'Tillana';
        color: $couleur-menu4-text;
      }
    }
  }
.prochainement{
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
       & p{
           width: 25%;
           color:#fdcb46;
           background-color: #579c87;
           text-align: center;
           border-radius: 10px;
           padding: 0.5em 1.5em 0.5em 1.5em;
           text-decoration: none;  
           @media (max-width: 1190px)
            {
              font-size: 0.8rem;
              width: 19%;
              padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            } 
            @media (max-width: 690px)
            {
              font-size: 0.8rem;
              width: 40%;
              padding: 0.5rem 0.2rem 0.5rem 0.2rem;
            } 
           }        
       }
#point1{
    animation: apparition 1500ms infinite;
   }
 #point2 {
    animation: apparition 1600ms infinite;
  }
 #point3 {
    animation: apparition 1700ms infinite;
  } 