/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bouge {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes bouge {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

header {
  height: 6rem;
  line-height: 2rem;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  background-color: #599b86;
}

header a {
  text-decoration: none;
}

header a h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fecb44;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .conteneurfooter {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  background-color: #579c87;
  padding-right: 2em;
  padding-left: 2em;
}

footer .conteneurfooter a {
  color: #fdcb46;
  text-decoration: none;
}

footer .conteneurfooter a:hover {
  -webkit-animation: bouge 0.5s;
          animation: bouge 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 581px) {
  footer .conteneurfooter {
    padding-left: 0;
    padding-right: 0;
  }
}

.conteneur {
  font-family: 'Parisienne';
  width: 85%;
  height: auto;
  margin: 4rem auto 10rem auto;
  padding: 4rem 0 6rem 0;
  border-radius: 2%;
  -webkit-box-shadow: 0 0 0.8rem 0 rgba(152, 153, 151, 0.6);
          box-shadow: 0 0 0.8rem 0 rgba(152, 153, 151, 0.6);
  background-color: #fdfefc;
}

@media (max-width: 581px) {
  .conteneur {
    font-size: 0.7rem;
  }
}

.titre {
  font-size: 4rem;
  background-color: #fdfefc;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titre .carte-titre {
  font-family: 'Kaushan Script';
  background: -webkit-gradient(linear, left top, right top, from(#43973a), to(#b6f777));
  background: linear-gradient(to right, #43973a 0%, #b6f777 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.conteneur-table1 {
  font-family: 'Tillana';
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.conteneur-table2 {
  font-family: 'Tillana';
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.conteneur-table3 {
  font-family: 'Tillana';
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ligne:nth-child(1), .ligne:nth-child(3), .ligne:nth-child(5) {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  margin-bottom: 2rem;
}

.ligne2:nth-child(1), .ligne2:nth-child(3), .ligne2:nth-child(5) {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  margin-bottom: 2rem;
}

.ligne3:nth-child(1), .ligne3:nth-child(3), .ligne3:nth-child(5) {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  margin-bottom: 2rem;
}

.table-caption {
  font-family: 'Tillana';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.element21 {
  padding-left: 4rem;
  padding-right: 4rem;
  color: black;
}

@media (max-width: 581px) {
  .element21 {
    padding-left: 0;
    padding-right: 0;
  }
}

.element22 {
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
}

@media (max-width: 581px) {
  .element22 {
    padding-left: 0;
    padding-right: 0;
  }
}

.element23 {
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
}

@media (max-width: 581px) {
  .element23 {
    padding-left: 0;
    padding-right: 0;
  }
}

.p1, .p2, .p3 {
  position: relative;
}

.p1::after {
  content: '';
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .1em;
  background: #57a746;
  opacity: 0.8;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.p2::after {
  content: '';
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .1em;
  background: #57a746;
  opacity: 0.8;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.p3::after {
  content: '';
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .1em;
  background: #57a746;
  opacity: 0.8;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.p1:hover::after, .p2:hover::after, .p3:hover::after {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}
/*# sourceMappingURL=palette.css.map */