@import 'reset.scss';
@import 'variables.scss';
@import 'animations.scss';
@import 'mixins.scss';
body{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}
header{
    height: 6rem;
    line-height: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    background-color: $couleur-vert;
    & a{
        text-decoration: none;
        & h1{
            font-size: 3rem;
            font-weight: bold;
            color: $couleur-jaune;
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    & .conteneurfooter{
        height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        background-color: #579c87;
        padding-right: 2em;
        padding-left: 2em;
             & a{
                color:#fdcb46;
                text-decoration: none;
             }
             & a:hover{
                animation: bouge 0.5s;
                animation-iteration-count: infinite;            
             }
             @media (max-width:581px) {
              padding-left: 0;
              padding-right: 0;
             }
         }
        }
