$couleur-blanc: #fff;
$couleur-vert: #599b86;
$couleur-jaune: #fecb44;


$couleur-menu1-bg: #fbdfda;
$couleur-menu1-text: #3b1519;
$couleur-menu1-link: #fe7866;
$couleur-menu1-gradient-start: #f15b60;
$couleur-menu1-gradient-end: #f59069;


$couleur-menu2-bg: #fef4f8;
$couleur-menu2-text: #c77529;
$couleur-menu2-2-text: #a86698;
$couleur-menu2-3-text: #6a56a5;
$couleur-menu2-gradient-start:#c77529;
$couleur-menu2-gradient-end:  #805deb;



$couleur-menu3-bg: #eef0f0;
$couleur-menu3-1-text: #0228dd;
$couleur-menu3-2-text: #0670f3;
$couleur-menu3-3-text: #229df9;
$couleur-menu3-gradient-start: #0228dd;
$couleur-menu3-gradient-end: #229df9;



$couleur-menu4-bg: #fdfefc;
$couleur-menu4-text: #57a746;
$couleur-menu4-gradient-start: #43973a;
$couleur-menu4-gradient-end: #b6f777;

