$couleur-blanc: #fff;
$couleur-vert: #599b86;
$couleur-jaune: #fecb44;


$couleur-menu1-bg: #fbdfda;
$couleur-menu1-text: #3b1519;
$couleur-menu1-link: #fe7866;
$couleur-menu1-gradient-start: #f15b60;
$couleur-menu1-gradient-end: #f59069;


$couleur-menu2-bg: #fef4f8;
$couleur-menu2-text: #c77529;
$couleur-menu2-2-text: #a86698;
$couleur-menu2-3-text: #6a56a5;
$couleur-menu2-gradient-start:#c77529;
$couleur-menu2-gradient-end:  #805deb;
$couleur-menu2-1-link: $couleur-menu2-text;
$couleur-menu2-2-link: $couleur-menu2-2-text;
$color-menu2-3-link: $couleur-menu2-3-text;


$couleur-menu3-bg: #faf9f8;
$couleur-menu3-text: #0887fb;
$couleur-menu3-2-text: #416db5;
$couleur-menu3-3-text: #4e96d1;
$couleur-menu3-gradient-start: #0431df;
$couleur-menu3-gradient-end: $couleur-menu3-3-text;
$couleur-menu3-1-link: $couleur-menu3-text;
$couleur-menu3-2-link: $couleur-menu3-2-text;
$couleur-menu3-3-link: $couleur-menu3-3-text;


$couleur-menu4-bg: #fdfefc;
$couleur-menu4-text: #57a746;
$couleur-menu4-gradient-start: $couleur-menu4-text;
$couleur-menu4-gradient-end: #c2db76;
$couleur-menu4-link: $couleur-menu4-text;

